<% include ../partials/header_blogs %>

<!-- <div class="jumbotron bg-primary text-center text-dark bg-city rounded-0">
  <h1 class="display-4 font-weight-bold">PROJECT-1</h1>
</div> -->
<div class="container">
  <div class="row">

    <!---------------------------- Bal oldali sáv nyitó --------------------------------------->
    <div class="col-md-8 news-feed">
      <div class="row">

        <!-- Az első négy cikk borító, a legfrisebbtől számítva, egyesével. A col-md-8 100%-a -->
        <div class="col-md-12">
          <% blogs.slice(0,2).forEach(function(blog){ %>
          <div class="card mb-5">
            <div class="article-main-img">
              <img class="card-img" src="<%= blog.image %>" alt="blog title image">
            </div>
            <div class="article-header">
              <a class="" href="/blogs/<%= blog._id %>">
                <h2>
                  <%= blog.title %>
                </h2>
              </a>
            </div>
            <p class="card-text text-muted mb-2">
              <%= blog.author.username %> |
              <%= moment(blog.createdAt).format('YYYY. MMMM D. HH:mm') %>
              <span class="pl-3 comment-icon"><a href="/blogs/<%= blog._id %>/#comments"><i class="far fa-comments"></i>
                  <%= blog.comments.length %></a></span><br>
            </p>
            <div class="feed-paragraph">
              <p class="normal-paragraph">
                <%- blog.article.substring(0, 150) %>...
              </p>
            </div>
            <p class="text-uppercase">
              <a class="btn btn-primary" href="/blogs/<%= blog._id %>">Tovább</a>
            </p>
          </div>
          <% }) %>
        </div>
      </div>

      <!-- Ez itt a legújabb 4 cikk után következő cikk col-md-6 néretben,
         kettesével. A legfrisebbtől számított következő 8 cikk jelenik meg ------------------->

      <div class="row">
        <% blogs.slice(2, 12).forEach(function(blog){ %>
        <div class="col-md-6">
          <div class="card mb-5">
            <div class="article-main-img second-article-header">
              <a href="/blogs/<%= blog._id %>">
                <img class="card-img" src="<%= blog.image %>" alt="blog title image">
                <h4 class="mt-2">
                  <%= blog.title %>
                </h4>
              </a>
            </div>
            <p class="card-text text-muted mb-2">
              <%= blog.author.username %> |
              <%= moment(blog.createdAt).format('YYYY. MMMM D. HH:mm') %>
              <span class="pl-3 comment-icon"><a href="/blogs/<%= blog._id %>/#comments"><i class="far fa-comments"></i>
                  <%= blog.comments.length %></a><br>
              </span>
            </p>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
    <!------------------------------- Bal oldali sáv záró -------------------------------------->

    <!------------------------------ Jobb oldali sáv nyitó ------------------------------------->
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12">
          <div class="tags tags-sideLine">
            <h3 class="my-4 alert alert-warning"><span class=""></span>Mai bejegyzések</h3>
            <% blogs.forEach(function(blog){ %>
            <% if(moment().format('YYYYMMD') === moment(blog.createdAt).format('YYYYMMD')){ %>
            <div class="text-uppercase daily-articles">
              <div class=""><a class="" href="/blogs/<%= blog._id %>"> <span class="font-weight-bold badge-custom">
                    <%= moment(blog.createdAt).format('HH:mm') %> </span>
                  <%= blog.title %></a></div>
            </div>
            <% } %>
            <% }) %>
          </div>

          <div class="tags tags-sideLine new-articles">
            <h3 class="my-4 alert alert-warning">
              <span class="">
              </span>Korábbi bejegyzések</h3>
            <% blogs.forEach(function(blog){ %>
            <a class="" href="/blogs/<%= blog._id %>">
              <div class="news-feed-lines mb-3">
                <b>
                  <%= blog.title %></b><br>
                <span class="text-uppercase small">-
                  <%= blog.author.username %>
                </span>
                <span class="float-right">
                  <%= moment(blog.createdAt).fromNow() %>
                </span>
            </a>
          </div>
          <% }) %>
        </div>
      </div>
    </div>
    <!------------------------------- Jobb oldali sáv záró ------------------------------------->
  </div> <!-- Ez a legelső "Basic" row záró div-je -->

</div> <!-- A fő container záró div-je -->

<% include ../partials/footer %>