<!DOCTYPE html>
<html lang="hu">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
  <title>PROJECT-1</title>
  <% moment.locale("hu") %>
</head>

<body id="pageTop">
  <header class="header-bottom">
    <!-- Fixed navbar -->
    <nav class="container-fluid navbar navbar-expand-lg navbar-light fixed-top bg-background">
      <span class="nav-item <%= typeof page !== 'undefined' && page === 'mainPage' ? 'activeMenu' : '' %>">
        <a class="btn btn-outline-yellow" href="/contents"><i class="fas fa-home"></i> Kezdőlap </a>
      </span>
      <form class="form-inline my-2 mx-2" action="/contents" method="GET">
          <div class="input-group">
            <input class="search-bar" type="text" aria-describedby="button-addon" name="search" placeholder="gyorskeresés">
            <div class="input-group-append">
              <button class="btn btn-outline-yellow" id="button-addon"><i class="fas fa-search"></i></button>
            </div>
          </div>
        </form>
      <!-- <span class="mx-2">PROJECT-1</span> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item <%= typeof page !== 'undefined' && page === 'writeNew' ? 'activeMenu' : '' %>">
            <a class="btn btn-outline-yellow" href="/contents/new"><i class="fas fa-marker"></i> Cikket írok </a>
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="btn btn-outline-yellow dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">Kategóriák</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Közhasznú</a>
              <a class="dropdown-item" href="#">Elvont</a>
              <a class="dropdown-item" href="#">Szórakoztató</a>
              <a class="dropdown-item" href="#">Tudományos</a>
              <a class="dropdown-item" href="#">Gasztronómia</a>
            </div>
          </li> -->
          <li class="nav-item <%= typeof page !== 'undefined' && page === 'help' ? 'activeMenu' : '' %>">
            <a class="btn btn-outline-yellow" href="/help"><i class="fas fa-question"></i> Segítség</a>
          </li>
        </ul>
        <!-- <form class="form-inline my-2 mr-2" action="/contents" method="GET">
          <div class="input-group">
            <input class="search-bar" type="text" aria-describedby="button-addon" name="search" placeholder="gyorskeresés cikkre">
            <div class="input-group-append">
              <button class="btn btn-outline-dark" id="button-addon"><i class="fas fa-search"></i></button>
            </div>
          </div>
        </form> -->
        <ul class="navbar-nav ml-left">
          <% if(!currentUser) { %>
          <li class="nav-item <%= typeof page !== 'undefined' && page === 'login' ? 'activeMenu' : '' %>">
            <a class="btn btn-outline-yellow" href="/login"><i class="fas fa-sign-in-alt"></i> Belépés </a>
          </li>
          <li class="nav-item <%= typeof page !== 'undefined' && page === 'register' ? 'activeMenu' : '' %>">
            <a class="btn btn-outline-yellow" href="/register"><i class="fas fa-user-plus"></i> Regisztráció</a>
          </li>
          <% } else { %>
          <li class="nav-item <%= typeof page !== 'undefined' && page === 'profile' ? 'activeMenu' : '' %>">
            <a class="btn btn-outline-yellow" href="/users/<%= currentUser._id %>">Bejelenkezve mint: <b class=""><u>
                  <%= currentUser.username %></u></b></a>
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-yellow" href="/logout"><i class="fas fa-sign-out-alt"></i> Kilépés</a>
          </li>
          <% } %>
        </ul>
      </div>
    </nav>
  </header>

  <div class="container">
    <% if(error && error.length > 0) { %>
    <div class="alert alert-danger text-center" role="alert">
      <%= error %>
    </div>
    <% } %>
    <% if(success && success.length > 0) { %>
    <div class="alert alert-success text-center" role="alert">
      <%= success %>
    </div>
    <% } %>
  </div>

  <section class="content">
    