<% include ../partials/header %>

<div class="container">
<div class="row">
  <div class=" col-md-12">
    <h3 class="text-center"><span class=""></span>Talált cikkek:
      <%= contents.length %> db.</h3>
<ul class="list-unstyled user-articles">
  <% contents.forEach(function(content) { %>
  <a class="" href="/contents/<%= content._id %>">
    <li class="media mb-2">
      <img src="<%= content.image %>" class="mr-3" alt="cikk borítókép">
      <div class="media-body mx-2 my-2">
        <h6 class=""><span class="font-weight-bold"><%= moment(content.createdAt).format('YYYY.MM.DD') %></span> | <%= content.title %>
        </h6>
        <p><b class="badge badge-light"><%= content.author.username %></b></p>
      </div>
    </li>
    <hr>
  </a>
  <% }) %>
</ul>
  </div>
</div>
</div>

<% include ../partials/footer %>

