<% include ../partials/header %>

<div class="container">
  <div class="row">

    <!---------------------------- Bal oldali sáv nyitó --------------------------------------->
    <!---------------------------- Keresésnél jelenik meg ------------------------------------->

    <div class="col-md-8 news-feed">
      <% if(searcher === true) { %>
      <div class="tags tags-sideLine col-md-12">
        <h3 class=""><span class=""></span>Talált cikkek:
          <%= contents.length %> db.</h3>
        <div class="text-uppercase searched-articles">
          <% contents.forEach(function(content){ %>
          <div><a href="/contents/<%= content._id %>"> <span class="font-weight-bold badge-custom">
                <%= moment(content.createdAt).format('YYYY.MM.DD') %> </span>
              <%= content.title %> </a></div>
          <% }) %>
        </div>
      </div>
      <% } %>
      <div class="row">
        <!-- Az első négy cikk borító, a legfrisebbtől számítva, egyesével. A col-md-8 100%-a -->
        <div class="col-md-12">
          <% contents.reverse().slice(0, 4).forEach(function(content){ %>
          <div class="card mb-5">
            <div class="article-main-img">
              <img class="card-img" src="<%= content.image %>" alt="article title image">
            </div>
            <div class="article-header">
              <a class="" href="/contents/<%= content._id %>">
                <h2>
                  <%= content.title %>
                </h2>
              </a>
            </div>
            <p class="card-text text-muted mb-2">
              <%= content.author.username %> |
              <%= moment(content.createdAt).format('YYYY. MMMM D. HH:mm') %>
              <span class="pl-3 comment-icon"><a href="/contents/<%= content._id %>/#comments"><i class="far fa-comments"></i>
                  <%= content.comments.length %></a></span><br>
              <span class="category badge-custom">#
                <%= content.category %>
              </span>
            </p>
            <div class="feed-paragraph">
              <p class="normal-paragraph">
                <%- content.article.substring(0, 150) %>...
              </p>
            </div>
            <p class="text-uppercase">
              <a class="btn btn-outline-yellow btn-sm" href="/contents/<%= content._id %>">Tovább</a>
            </p>
          </div>
          <% }) %>
        </div>
      </div>

      <!-- Ez itt a legújabb 4 cikk után következő cikk col-md-6 néretben,
         kettesével. A legfrisebbtől számított következő 8 cikk jelenik meg ------------------->

      <div class="row">
        <% contents.slice(4, 12).forEach(function(content){ %>
        <div class="col-md-6">
          <div class="card mb-5">
            <div class="article-main-img second-article-header">
              <a href="/contents/<%= content._id %>">
                <img class="card-img" src="<%= content.image %>" alt="article title image">
                <h4 class="mt-2">
                  <%= content.title %>
                </h4>
              </a>
            </div>
            <p class="card-text text-muted mb-2">
              <%= content.author.username %> |
              <%= moment(content.createdAt).format('YYYY. MMMM D. HH:mm') %>
              <span class="pl-3 comment-icon"><a href="/contents/<%= content._id %>/#comments"><i class="far fa-comments"></i>
                  <%= content.comments.length %></a><br>
                <span class="category badge-custom">#
                  <%= content.category %>
                </span></span>
            </p>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
    <!------------------------------- Bal oldali sáv záró -------------------------------------->

    <!------------------------------ Jobb oldali sáv nyitó ------------------------------------->
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12">

          <div class="tags tags-sideLine">
            <h3 class="mb-4"><span class=""></span>Friss</h3>
            <div class="text-uppercase daily-articles">
              <% contents.forEach(function(content){ %>
              <% if(moment().format('YYYYMMD') === moment(content.createdAt).format('YYYYMMD')){ %>
              <div class=""><a class="" href="/contents/<%= content._id %>"> <span class="font-weight-bold badge-custom">
                    <%= moment(content.createdAt).format('HH:mm') %> </span>
                  <%= content.title %> </a></div>
              <% } %>
              <% }) %>
            </div>
          </div>

          <div class="tags tags-sideLine">
            <h3 class="mt-4 mb-4"><span class=""></span> Hirdetések</h3>
            <p class="py-0 text-uppercase">
              <div class="card mb-5">
                <img class="card-top-img" src="https://images.pexels.com/photos/341014/pexels-photo-341014.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                  alt="">
              </div>
              <div class="card mb-5">
                <img class="card-top-img" src="https://images.pexels.com/photos/788662/pexels-photo-788662.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                  alt="">
              </div>
            </p>
          </div>

          <div class="tags tags-sideLine new-articles">
            <h3 class="my-4">
              <span class="">
              </span>Korábbi cikkek</h3>
            <% contents.slice(12).forEach(function(content){ %>
            <a class="" href="/contents/<%= content._id %>"><img class="card-img" src="<%= content.image %>" alt="article title image">
              <div class="news-feed-lines mb-3">
                <b>
                  <%= content.title %></b><br>
                <span class="text-uppercase small">-
                  <%= content.author.username %>
                </span>
                <span class="float-right">
                  <%= moment(content.createdAt).fromNow() %>
                </span>
            </a>
          </div>
          <% }) %>
        </div>
      </div>
    </div>
    <!------------------------------- Jobb oldali sáv záró ------------------------------------->
  </div> <!-- Ez a legelső "Basic" row záró div-je -->

  <div class="row">
    <!----------------- A maradék cikkek, x db. egymás után, sima szalag, btn ---------------->
    <!-- <% if(contents.length > 10) { %> -->
    <!-- Ha több cikk van mint 10 akkor jelenik meg -->
    <!-- <div class="col-lg-12">
    <h2 class="text-center">További cikkek</h2>
   </div>
    <% contents.slice(10).forEach(function(content){ %>
    <div class="col-md-6 news-feed-lines mb-2">
      <a class="" href="/contents/<%= content._id %>">
        <b>
          <%= content.title %></b> |
        <%= moment(content.createdAt).format('YYYY. MMMM D. HH:mm') %>
      </a>
    </div>
    <% }) %>
    <% } %> -->
    <!-------------------------- A maradék cikk blokk lezárása ------------------------------->
  </div>

</div> <!-- A fő container záró div-je -->

<% include ../partials/footer %>